body {
  font-family     : sans-serif;
  background-image: url("/images/bkg.jpeg");
  color           : navy;
}

#timesubmit {
  display: none;
}

h1 {
  color     : navy;
  text-align: center;
}

p {
  color: navy;
}

body {
  background: linear-gradient(to left top, navy, #5E93C2) fixed;
}

form button {
  text-align: center;
}

form input {
  text-align: center;
}
/*


.button_input,
button {
  color           : navy;
  padding         : 14px 16px;
  text-decoration : none;
  background-color: white;
  font-weight     : bold;
  border-radius   : 25px;
  border          : 2px solid navy;
  font-size       : 1em;
}

.button_input:hover,
button:hover {
  color           : navy;
  text-align      : center;
  padding         : 14px 16px;
  text-decoration : none;
  background-color: yellow;
  font-weight     : bold;
  border-radius   : 25px;
  border          : 2px solid navy;
}
*/
#head_bar {
  text-align: center;
  margin    : auto;
}

#head_bar a {}

.heading {
  background-color: white;
  text-decoration : none;
  background-color: white;
  font-weight     : bold;
  border-radius   : 25px;
  border          : 2px solid navy;
}

#exTitle {
  font-size: 1.5em;
}

.buttons {
  text-align : center;
  font-weight: bold;
}

fieldset {
  font-weight: bold;
  padding    : 15px;
  margin     : 15px;
}

fieldset input {
  font-weight: normal;
}

.content {
  margin-top      : 5px;
  padding         : 10px;
  background-color: white;
  border-radius   : 25px;
  border          : 2px solid navy;
}