body {
  font-family: sans-serif;
  color      : navy;
}

#timesubmit {
  display: none;
}

h1 {
  color     : navy;
  text-align: center;
}

p {
  color     : navy;
  text-align: center;
}

body {
  background: linear-gradient(to left top, navy, #5E93C2) fixed;
}

form button {
  text-align: center;
}

form input {
  text-align: center;
}

#account_info {
  margin: 0 auto;
}

#exam_info {
  margin: 0 auto;
}

#head_bar {
  text-align: center;
  margin    : auto;
}

#head_bar a {}

.heading {
  background-color: white;
  text-decoration : none;
  background-color: white;
  font-weight     : bold;
  border-radius   : 25px;
  border          : 2px solid navy;
}

.boldme {
  font-weight: bold;
}

#exTitle {
  font-size: 1.5em;
}

.content h2 {
  text-align: center;
}

.buttons {
  text-align : center;
  font-weight: bold;
}

fieldset {
  text-align: center;
  margin    : 0 auto;
  padding   : 15px;
  margin    : 15px;
}

.pure-form-aligned .pure-control-group label {
  text-align: left;
}

fieldset input {
  margin     : 0 auto;
  font-weight: normal;
}

fieldset a {
  color: #666666;
}

.content {
  margin-top      : 5px;
  padding         : 10px;
  background-color: white;
  border-radius   : 25px;
  border          : 2px solid navy;
}

xmp {
  font-family: sans-serif;
  display    : inline;
}

.content_center {
  text-align      : center;
  margin-top      : 5px;
  padding         : 10px;
  background-color: white;
  border-radius   : 25px;
  border          : 2px solid navy;
}